@charset "UTF-8";
footer p, footer {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilos para el elemento html y body */
html, body {
  height: 100%; /* Establece la altura al 100% */
  font-family: "Poppins", sans-serif; /* Utiliza la fuente especificada en la variable $text-general */
  font-weight: 700; /* Establece el peso de la fuente a 700 (negrita) */
  background-color: #000; /* Establece el color de fondo usando una variable */
}

/* Estilos para el contenedor principal */
.wrapper {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos internos en una columna */
  min-height: 100vh; /* Establece la altura mínima al 100% del viewport */
  align-items: center; /* Centra horizontalmente los elementos */
}

/* Estilos para el elemento body */
body {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos internos en una columna */
}

/* Estilos para el elemento main */
main {
  flex: 1; /* Hace que el elemento main ocupe todo el espacio restante */
}

/* Estilos para elementos con la clase .bg-custom */
.bg-custom {
  background-color: #3399ff !important; /* Establece el color de fondo usando una variable y !important para asegurar que se aplique */
  color: #2b2a2a; /* Establece el color del texto usando una variable */
  width: 100% !important; /* Establece el ancho al 100% y !important para asegurar que se aplique */
}

/* Estilos para elementos con la clase .text-shadow */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto para dar un efecto de profundidad */
}

.navbar {
  background-color: #3399ff;
  color: #2b2a2a;
  width: 100% !important;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.custom-background {
  background-color: #3399ff !important;
  padding: 20px;
  border-radius: 8px;
}

.project-title {
  margin-bottom: 30px;
}

.project-title h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #2b2a2a;
  background-color: #3399ff;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.project-title:hover {
  background-color: #3399ff !important;
}

.text-box {
  background-color: #3399ff !important;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.text-bg-primary {
  background-color: #3399ff !important;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  text-align: center !important;
}

.title {
  grid-column: span 2;
  text-align: center !important;
  border: 1px solid #3399ff;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  color: #ffffff;
  margin-bottom: 10px;
}

.title:hover {
  background-color: #3399ff;
  color: #2b2a2a;
}

.image {
  grid-column: span 1;
}

.course-list {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.course-list ul {
  flex-grow: 1;
  border: none;
  list-style-type: none;
}

.course-list li {
  padding: 10px;
  border-bottom: 1px solid #3399ff !important;
  transition: background-color 0.3s;
}

.course-list li:last-child {
  border-bottom: none;
}

.course-list li:hover {
  background-color: #3399ff !important;
}

.image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #0d74b9;
}

footer {
  color: #2b2a2a;
  padding-bottom: 0;
  padding-top: 5px;
  margin-top: auto;
  width: 100%;
  background-color: #3399ff;
}
footer.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
footer.footer-animated {
  animation: colorTransition 3s infinite !important;
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li {
  display: inline;
  margin: 0 10px;
}
footer nav ul li a {
  text-decoration: none;
}
footer nav ul li a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}
footer nav ul li a img:hover {
  transform: scale(1.1);
}
@media (max-width: 575.98px) {
  /* Cuando el ancho de la pantalla es menor o igual a 575.98px */
  .navbar-nav {
    flex-direction: column; /* Los elementos dentro de .navbar-nav se organizan en una columna */
    text-align: center; /* El texto se alinea al centro */
    /* Estilo para .nav-item */
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Los elementos .nav-item tienen un margen inferior de 10px */
  }
}
@media (min-width: 576px) {
  /* Cuando el ancho de la pantalla es mayor o igual a 576px */
  .navbar-nav {
    flex-direction: row; /* Los elementos dentro de .navbar-nav se organizan en una fila */
    text-align: left; /* El texto se alinea a la izquierda */
    /* Estilo para .nav-item */
  }
  .navbar-nav .nav-item {
    margin-right: 10px; /* Los elementos .nav-item tienen un margen derecho de 10px */
  }
}
@media (max-width: 991.98px) {
  /* Cuando el ancho de la pantalla es menor o igual a 991.98px */
  .navbar-brand img {
    max-width: 30px; /* El ancho máximo de la imagen dentro de .navbar-brand se ajusta según $navbar-brand-img-max-width-small */
  }
}
@media (max-width: 767.98px) {
  /* Cuando el ancho de la pantalla es menor o igual a 767.98px */
  .text-bg-primary {
    font-size: 1.2rem; /* El tamaño de fuente de elementos con la clase .text-bg-primary se ajusta a 1.2rem */
  }
  .h3 {
    margin-bottom: 10px; /* Los elementos .h3 tienen un margen inferior de 10px */
  }
  .lead {
    margin-bottom: 20px; /* Los elementos .lead tienen un margen inferior de 20px */
    line-height: 1.5; /* La altura de línea se establece en 1.5 */
  }
  .content {
    grid-template-columns: 1fr; /* La disposición de los elementos dentro de .content se cambia a una sola columna */
  }
  .title, .image, .course-list {
    grid-column: span 1; /* Los elementos .title, .image y .course-list abarcan una sola columna */
  }
}
@media (max-width: 991.98px) {
  /* Cuando el ancho de la pantalla es menor o igual a 991.98px */
  .navbar-brand img {
    max-width: 30px; /* El ancho máximo de la imagen dentro de .navbar-brand se ajusta a 30px para reducir su tamaño en pantallas pequeñas si es necesario */
  }
}
@keyframes colorTransition {
  0% {
    background-color: #3399ff;
  }
  50% {
    background-color: #0d74b9;
  }
  100% {
    background-color: #3399ff;
  }
}
.navbar-brand img {
  transition: transform 0.3s ease !important;
}
.navbar-brand img:hover {
  transform: scale(1.1);
}

header .navbar-nav .nav-link {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #2b2a2a;
}
header .navbar-nav .nav-link:hover {
  transform: scale(1.1) rotate(5deg);
  color: black;
}
header .navbar-collapse {
  transition: transform 0.3s ease;
  transform: translateX(0);
}
header .navbar-collapse:hover {
  transform: translateX(10px);
}
header .navbar-toggler {
  transition: transform 0.3s ease;
}
header .navbar-toggler:focus {
  transform: rotate(90deg);
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
header .tracking-in-expand {
  animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.slide-in-tl {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */
