.custom-background {
    background-color: $primary-color !important; 
    padding: 20px;
    border-radius: 8px;
}

.project-title {
    margin-bottom: 30px;
}

.project-title h1 {
    font-size: 3rem;
    font-family: $text-titulos;
    color: $text-color;
    background-color: $primary-color; 
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
}

.project-title:hover {
    background-color: $primary-color !important; ;
}

.text-box {
    background-color: $primary-color !important; 
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.text-bg-primary {
    background-color: $primary-color !important; 
    color: $text-color-secundary;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    text-align: center !important; // Agregar esta línea para centrar horizontalmente el contenido
}

.title {
    grid-column: span 2;
    text-align: center !important;
    border: 1px solid #3399ff;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
    margin-bottom: 10px;
}

.title:hover {
    background-color: #3399ff;
    color: #333;
}

.image {
    grid-column: span 1;
}