.custom-background {
    background-color: $primary-color !important; // Establece el color de fondo usando una variable de color y !important para asegurar que se aplique
    padding: 20px; // Añade un padding de 20px alrededor del contenedor
    border-radius: 8px; // Añade un borde redondeado de 8px
}

.project-title {
    margin-bottom: 30px; // Añade un margen inferior de 30px
}

.project-title h1 {
    font-size: 3rem; // Establece el tamaño de fuente a 3rem
    font-family: $text-titulos; // Utiliza la fuente especificada en la variable $text-titulos
    color: $text-color; // Establece el color del texto usando una variable de color
    background-color: $primary-color; // Establece el color de fondo usando una variable de color
    padding: 20px; // Añade un padding de 20px alrededor del título
    border-radius: 10px; // Añade un borde redondeado de 10px
    text-transform: uppercase; // Convierte el texto a mayúsculas
    letter-spacing: 2px; // Añade un espaciado entre letras de 2px
    transition: background-color 0.3s ease; // Añade una transición suave para el cambio de color de fondo
}

.project-title:hover {
    background-color: $primary-color !important; // Asegura que el color de fondo permanezca constante al pasar el mouse, usando !important
}

.text-box {
    background-color: $primary-color !important; // Establece el color de fondo usando una variable de color y !important para asegurar que se aplique
    padding: 20px; // Añade un padding de 20px alrededor del contenedor
    text-align: center; // Centra el texto
    margin-bottom: 40px; // Añade un margen inferior de 40px
}

.text-bg-primary {
    background-color: $primary-color !important; // Establece el color de fondo usando una variable de color y !important para asegurar que se aplique
    color: $text-color-secundary; // Establece el color del texto usando una variable de color secundaria
    padding: 20px; // Añade un padding de 20px alrededor del contenedor
    border-radius: 10px; // Añade un borde redondeado de 10px
    height: 100%; // Hace que el contenedor ocupe el 100% de la altura disponible
    display: flex; // Utiliza flexbox para el diseño del contenedor
    flex-direction: column; // Organiza los elementos internos en una columna
    justify-content: center; // Centra los elementos internos verticalmente
}
