///// ANIMACION  TRANSITION CAMBIO DE COLOR DE COLOR DE FONDO ///////

@keyframes colorTransition {
    0% {
      background-color: $primary-color; // Color de fondo al inicio de la animación
    }
    50% {
      background-color: $secondary-color; // Color de fondo a mitad de la animación
    }
    100% {
      background-color: $primary-color; // Color de fondo al final de la animación
    }
  }


  ////////// ANIMACION TRANSITION AUMENTA TAMAÑO DE LOGO //////////
  .navbar-brand img {
    transition: transform 0.3s ease !important; // Añade una transición suave para el transform, con !important para garantizar que se aplique

    &:hover {
      transform: scale(1.1); // Aumenta ligeramente el tamaño del logo al pasar el mouse
    }
  }
/////// ANIMACIONES TRANSICIONES PARA EL HEADER ////////
  header {
    .navbar-nav .nav-link {
      transition: transform 0.3s ease, color 0.3s ease; // Añade transiciones suaves para el transform y el color
      color: $text-color; // Asegura que el color del texto sea el correcto
  
      &:hover {
        transform: scale(1.1) rotate(5deg); // Aumenta ligeramente el tamaño y rota el enlace al pasar el mouse
        color: darken($text-color, 20%); // Oscurece ligeramente el color del texto al pasar el mouse
      }
    }
  
    .navbar-collapse {
      transition: transform 0.3s ease; // Añade una transición suave para el transform
      transform: translateX(0); // Mantiene la barra de navegación en su posición inicial
  
      &:hover {
        transform: translateX(10px); // Desliza la barra de navegación ligeramente hacia la derecha al pasar el mouse
      }
    }
  
  
  
    .navbar-toggler {
      transition: transform 0.3s ease; // Añade una transición suave para el transform
  
      &:focus {
        transform: rotate(90deg); // Rota el icono del toggler al enfocarse
      }
    }
  
    // Animación generada por Animista para la expansión del tracking
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em; // Establece el espaciado inicial de las letras
        opacity: 0; // Comienza con opacidad 0
      }
      40% {
        opacity: 0.6; // Aumenta la opacidad al 40% del tiempo de la animación
      }
      100% {
        opacity: 1; // Establece la opacidad final a 1
      }
    }
  
    .tracking-in-expand {
      animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; // Aplica la animación de expansión del tracking con una duración de 0.8s y una curva de bezier personalizada
    }
  }
  //////// ANIMACIONES USANDO LIBRERIA EXTERNA " ANIMISTA " ////////////
  
.bounce-top {
    -webkit-animation: bounce-top 0.9s both; // Aplica la animación de rebote hacia arriba con una duración de 0.9s en navegadores Webkit
    animation: bounce-top 0.9s both; // Aplica la animación de rebote hacia arriba con una duración de 0.9s
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px); // Inicia la animación con una traslación hacia arriba de 45px en navegadores Webkit
        transform: translateY(-45px); // Inicia la animación con una traslación hacia arriba de 45px
        -webkit-animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in' en navegadores Webkit
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
        opacity: 1; // Establece la opacidad inicial a 1
    }
    24% {
        opacity: 1; // Mantiene la opacidad a 1 al 24% del tiempo de la animación
    }
    40% {
        -webkit-transform: translateY(-24px); // Cambia la traslación hacia arriba a 24px en navegadores Webkit
        transform: translateY(-24px); // Cambia la traslación hacia arriba a 24px
        -webkit-animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in' en navegadores Webkit
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    65% {
        -webkit-transform: translateY(-12px); // Cambia la traslación hacia arriba a 12px en navegadores Webkit
        transform: translateY(-12px); // Cambia la traslación hacia arriba a 12px
        -webkit-animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in' en navegadores Webkit
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    82% {
        -webkit-transform: translateY(-6px); // Cambia la traslación hacia arriba a 6px en navegadores Webkit
        transform: translateY(-6px); // Cambia la traslación hacia arriba a 6px
        -webkit-animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in' en navegadores Webkit
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    93% {
        -webkit-transform: translateY(-4px); // Cambia la traslación hacia arriba a 4px en navegadores Webkit
        transform: translateY(-4px); // Cambia la traslación hacia arriba a 4px
        -webkit-animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in' en navegadores Webkit
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    25%, 55%, 75%, 87% {
        -webkit-transform: translateY(0px); // Restablece la traslación a 0px en estos porcentajes de tiempo en navegadores Webkit
        transform: translateY(0px); // Restablece la traslación a 0px en estos porcentajes de tiempo
        -webkit-animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out' en navegadores Webkit
        animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out'
    }
    100% {
        -webkit-transform: translateY(0px); // Restablece la traslación a 0px en navegadores Webkit
        transform: translateY(0px); // Restablece la traslación a 0px
        -webkit-animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out' en navegadores Webkit
        animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out'
        opacity: 1; // Mantiene la opacidad a 1
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px); // Inicia la animación con una traslación hacia arriba de 45px
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
        opacity: 1; // Establece la opacidad inicial a 1
    }
    24% {
        opacity: 1; // Mantiene la opacidad a 1 al 24% del tiempo de la animación
    }
    40% {
        transform: translateY(-24px); // Cambia la traslación hacia arriba a 24px
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    65% {
        transform: translateY(-12px); // Cambia la traslación hacia arriba a 12px
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    82% {
        transform: translateY(-6px); // Cambia la traslación hacia arriba a 6px
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    93% {
        transform: translateY(-4px); // Cambia la traslación hacia arriba a 4px
        animation-timing-function: ease-in; // Aplica una función de tiempo de animación 'ease-in'
    }
    25%, 55%, 75%, 87% {
        transform: translateY(0px); // Restablece la traslación a 0px en estos porcentajes de tiempo
        animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out'
    }
    100% {
        transform: translateY(0px); // Restablece la traslación a 0px
        animation-timing-function: ease-out; // Aplica una función de tiempo de animación 'ease-out'
        opacity: 1;
    }
  }
  .slide-in-tl {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-tl {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
              transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-tl {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
              transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  