
html, body {
    height: 100%;
    font-family: $text-general;
    font-weight: 700;
    background-color: $background-color;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center ;
   
  }
  body {
    display: flex;
    flex-direction: column;
    
}
  
  main {
    flex: 1;
   
    
  }
  .bg-custom {
    background-color: $primary-color !important;
    color: $text-color;
    width: 100% !important; 
  }
  
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }