
/* Estilos para el elemento html y body */
html, body {
  height: 100%; /* Establece la altura al 100% */
  font-family: $text-general; /* Utiliza la fuente especificada en la variable $text-general */
  font-weight: 700; /* Establece el peso de la fuente a 700 (negrita) */
  background-color: $background-color; /* Establece el color de fondo usando una variable */
}

/* Estilos para el contenedor principal */
.wrapper {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos internos en una columna */
  min-height: 100vh; /* Establece la altura mínima al 100% del viewport */
  align-items: center; /* Centra horizontalmente los elementos */
}

/* Estilos para el elemento body */
body {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos internos en una columna */
}

/* Estilos para el elemento main */
main {
  flex: 1; /* Hace que el elemento main ocupe todo el espacio restante */
}

/* Estilos para elementos con la clase .bg-custom */
.bg-custom {
  background-color: $primary-color !important; /* Establece el color de fondo usando una variable y !important para asegurar que se aplique */
  color: $text-color; /* Establece el color del texto usando una variable */
  width: 100% !important; /* Establece el ancho al 100% y !important para asegurar que se aplique */
}

/* Estilos para elementos con la clase .text-shadow */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto para dar un efecto de profundidad */
}