//  Variables Header
$navbar-bg: #3399ff;
$navbar-text-color: #fff;
$navbar-brand-img-max-width-small: 30px;

// Variables Footer
$primary-color: #3399ff;
$secondary-color: #66ccff;
$background-color: #000;
$text-color: #2b2a2a;
$footer-background-color: #333;
$footer-text-color: #fff;