// Definición de variables
$navbar-brand-img-max-width-small: 30px; // Ancho máximo para la imagen del logotipo en pantallas pequeñas
$primary-color: #3399ff; // Color primario
$secondary-color: #0d74b9; // Color secundario
$background-color: #000; // Color de fondo
$text-color: #2b2a2a; // Color de texto principal
$text-color-secundary: #ffffff; // Color de texto secundario
$text-titulos: 'Montserrat', sans-serif; // Fuente para títulos
$text-general: 'Poppins', sans-serif; // Fuente general
