$navbar-brand-img-max-width-small: 30px;
$primary-color: #3399ff;
$secondary-color: #0d74b9;
$background-color: #000;
$text-color: #2b2a2a;
$text-color-secundary:#ffffff;
$text-titulos:'Montserrat', sans-serif;
$text-general:'Poppins', sans-serif;

